body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140%;
}
h2 {
  font-weight: 300;
}
.header {
  margin-top: 18rem;
  text-align: center;
}
.docs-header {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
}

img.icon {
  /*
  float: left;
  margin-right: 1em;
  */
  width: 100px;
  display: block;
  margin: auto;
}

h6 {
  margin-top: 1em;
}

.title-description {
  margin: 0 1em 1em 1em;
}

footer {
  text-align: center;
  padding: 5em;
  color: #eee;
  background-color: #333;
}

img.figure {
  display: block;
  margin: 2em auto;
}
a {
  color: #155ca8;
}
a:hover {
  color: #0f4176;
}
footer a {
  color: #1EAEDB;
}
footer a:hover {
  color: #0FA0CE;
}
